<!doctype html>
<html lang='en' ng-app='mapApp'>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCst7nvykg560t2M9hrxQzHUGX-mvAmjus&libraries=places"></script>
        <link rel='stylesheet' href='styles.css'>
        <script src='js/index.js'></script>
        <script src='js/mapController.js'></script>
        <script src='js/searchController.js'></script>
        <script src='js/listController.js'></script>
        <title>Map App!</title>
    </head>
    <body>
        <nav>
            
        </nav>
        <div class='main' ng-controller='mainController'>
            Test
            <div id='searchArea' class='area' ng-controller='searchController'>
                This is search area. 
                <input type="text" name="searchbox" value="Search" ng-model='keyword'>
                <button ng-click='search(keyword, type)'>Search!</button>
            </div>
            <div id='mapArea' class='area' ng-controller='mapController'>
                <div id='map'></div>
                <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
                <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
                <label id="names" >{{marker.title}}</label></a>
                </div>
                This is map area.
            </div>
            <div id='listArea' class='area' ng-controller='listController'>
                This is list area.
            </div>
        </div>
    </body>

</html>