body {
    font: bold 12px Arial;
     }
a {
    text-decoration: none;
  }
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchArea button{
    background-color: #ee8a20;
    height: 33px;
    border: 1px solid #d37520;
    border-radius: 3px;
    color: #fff;
    line-height: 32px;
    padding: 0 20px;
    margin: 14px 11px 11px 11px;
    cursor: pointer;
}

#searchArea input{
    width: 300px;
    height: 20px;
    border-radius: 3px;
    padding-left: 3px;
}
#resultsArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#map{
    height:500px; 
    width:500px; 
    box-shadow: 3px 3px 10px gray;
    margin-bottom: 5px;
    }
#repeat{ 
     display: inline;
     }
#listArea{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#listArea .result { 
    text-align: center; 
    width: 85px; 
    color: #656565; 
    cursor: pointer;
    background-color: #ECECEC;
    height: 33px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    line-height: 32px;
    padding: 0 10px;
    padding-right: 5px;
    margin: 14px 11px 11px 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#country_container:hover { 
     box-shadow: 0px 0px 10px black;
     background-color: gray; 
     border: 1px solid gray; 
     cursor: pointer; 
     }
#names { 
     cursor: pointer; 
       }
@media (max-width: 740px) {
    #listArea {
        flex-direction: row;    
    }
}